In [14]:
#for in <collection>  #어떤 집합의 모음 :collection
#   <Loop body>

for v1 in range(10): #0~9까지 n-1
     print('v1 is :', v1)
        
print()
    
for v2 in range(1,11):  # 1~10까지 
    print('v2 : ', v2)
    
print()    

for v3 in range(1,11,2):  #짝수나 홀수의 집합을 만들 떄 등 사용 
    print('v3 :', v3)

v1 is : 0
v1 is : 1
v1 is : 2
v1 is : 3
v1 is : 4
v1 is : 5
v1 is : 6
v1 is : 7
v1 is : 8
v1 is : 9

v2 :  1
v2 :  2
v2 :  3
v2 :  4
v2 :  5
v2 :  6
v2 :  7
v2 :  8
v2 :  9
v2 :  10

v3 : 1
v3 : 3
v3 : 5
v3 : 7
v3 : 9

In [25]:
# 1 - 1000 까지의 합

sum1 = 0

for v in range(1,1001):
    sum1+=v   # 0+1  =1 
             # 그다음에 1 +2 = 3
             # 3+ 4 = 7 . . . . .
            
print('1-1000 sum :',  sum1)

#same as

print('1 -1000 sum :', sum(range(1,1001)))

1-1000 sum : 500500
1 -1000 sum : 500500
1-1000 4 의 배수 : 125500
1-1000 4^ : 125500

In [ ]:
#print문 으로 구하기 _ for 문과 비교
# 1-1000 4의 배수

print('1-1000 4 의 배수 :', sum(range(4,1001,4)))

#same as

sum2 = 0

for i in range(4,1001,4):
    sum2 += i
print('1-1000 4^ :', sum2)

In [36]:
#Iterables 자로형 반복 
#문자열, 리스트,튜플,집합,사전(dict)
#Iiterable 리턴 함수 : range , reversed,  enumerate , filter, map , zip
# 모두 for문에서 사용가능    ↑↑↑↑↑↑↑↑↑↑↑↑↑↑

#list 형 사용 예시
names =['Kim','Park','Cho','Lee','Choi','Yoo']

for n in names:
    print('You are :', n)
    
print()

#예시 2 

lotto_num =[11,34,14,23,41,7]

for i in lotto_num:
     print('current num :' , i)
        
#문자열 예제 3
word = 'beautiful'

for s in word:
    print('word :', s)

print()

#예제 4 /key: value

info={
    'name':'lee',  
    'age':33,
    'city':'seoul'
}

for k in info:
     print('key :', k) #반복할때 value는 가져오지않음
        
#key / value 가져오기 

info={
    'name':'lee',  
    'age':33,
    'city':'seoul'
}
#방법 1
for k in info:
     print('info :', info[k]) #반복할때 value는 가져오지않음

#방법 2
# for k in info:
# print('information :' , info.get(k))


#value 만 꺼내오기 
for v in info.values():
    print('values :',v)

You are : Kim
You are : Park
You are : Cho
You are : Lee
You are : Choi
You are : Yoo

current num : 11
current num : 34
current num : 14
current num : 23
current num : 41
current num : 7
word : b
word : e
word : a
word : u
word : t
word : i
word : f
word : u
word : l

key : name
key : age
key : city
info : lee
info : 33
info : seoul
values : lee
values : 33
values : seoul

In [41]:
#if문과 for 문
#name을 대문자로 (모두)

name = 'pineAppLE'

for n in name:
    if n.isupper():
        print(n)
    else:
        print(n.upper())

P
I
N
E
A
P
P
L
E
capital : E

In [46]:
#break _ For 문 탈출 
#첫번째 34 찾기_ 찾은후 탈출


numbers = [14,3,45,6,3,63,85,86,34,2,37,15,21]

for num in numbers:
    if num ==34:
        print('Found  : 34 ')
    else:
        print("Not",num)
        
print()   #위아래 차이 비교해보기 
        
for num in numbers:
    if num ==34:
        print('Found  : 34 ')
        break
    else:
        print("Not",num)

Not 14
Not 3
Not 45
Not 6
Not 3
Not 63
Not 85
Not 86
Found  : 34
Not 2
Not 37
Not 15
Not 21

Not 14
Not 3
Not 45
Not 6
Not 3
Not 63
Not 85
Not 86
Found  : 34

In [5]:
#continue  _ 다시 조건을 검사하는 부분으로 이동 _ skip이라고 생각 

#숫자만 보여주기
lt = ['1',2,5,True,4.3,complex(4)]

for v in lt:
    if type(v) is bool:
         continue        #boolean을 만나면 이 밑에는 실행x
    print('current type', v ,type(v))  #boolean형은 안나옴 
    print(' * 2 :', v *3) #boolean 형을 계산하고싶지않을 때 사용 가능

current type 1 <class 'str'>
 * 2 : 111
current type 2 <class 'int'>
 * 2 : 6
current type 5 <class 'int'>
 * 2 : 15
current type 4.3 <class 'float'>
 * 2 : 12.899999999999999
current type (4+0j) <class 'complex'>
 * 2 : (12+0j)

In [10]:
#for else
#모든 원소를 모두 반복했을 때 마지막으로 else문 수행
#break문  등으로 중지되었을 때에는 else문 실행 x
numbers = [14,3,45,6,3,63,85,86,34,2,37,15,21]

for n in numbers:
    if n == 2:
        print('found : 2')
        break            # break가 있으면 else문 실행 x
else:
    print('not found : 2')
    
    
#for else_ 끝까지 뒤졌지만 49는 없었다 (else구문)

numbers = [14,3,45,6,3,63,85,86,34,2,37,15,21]

for n in numbers:
    if n ==  49:
        print('found : 49')
        break
else:
    print('not found : 49')

not found : 2
not found : 49

In [21]:
#구구단 출력


for x in range(2,10):
    for y in range(1,10):
        #print('{:4d}'.format(x * y), end =' ')
        print(x,'*',y,'=',x*y,end = "  ")

2 * 1 = 2  2 * 2 = 4  2 * 3 = 6  2 * 4 = 8  2 * 5 = 10  2 * 6 = 12  2 * 7 = 14  2 * 8 = 16  2 * 9 = 18  3 * 1 = 3  3 * 2 = 6  3 * 3 = 9  3 * 4 = 12  3 * 5 = 15  3 * 6 = 18  3 * 7 = 21  3 * 8 = 24  3 * 9 = 27  4 * 1 = 4  4 * 2 = 8  4 * 3 = 12  4 * 4 = 16  4 * 5 = 20  4 * 6 = 24  4 * 7 = 28  4 * 8 = 32  4 * 9 = 36  5 * 1 = 5  5 * 2 = 10  5 * 3 = 15  5 * 4 = 20  5 * 5 = 25  5 * 6 = 30  5 * 7 = 35  5 * 8 = 40  5 * 9 = 45  6 * 1 = 6  6 * 2 = 12  6 * 3 = 18  6 * 4 = 24  6 * 5 = 30  6 * 6 = 36  6 * 7 = 42  6 * 8 = 48  6 * 9 = 54  7 * 1 = 7  7 * 2 = 14  7 * 3 = 21  7 * 4 = 28  7 * 5 = 35  7 * 6 = 42  7 * 7 = 49  7 * 8 = 56  7 * 9 = 63  8 * 1 = 8  8 * 2 = 16  8 * 3 = 24  8 * 4 = 32  8 * 5 = 40  8 * 6 = 48  8 * 7 = 56  8 * 8 = 64  8 * 9 = 72  9 * 1 = 9  9 * 2 = 18  9 * 3 = 27  9 * 4 = 36  9 * 5 = 45  9 * 6 = 54  9 * 7 = 63  9 * 8 = 72  9 * 9 = 81

In [26]:
#변환예제

import reverse
name2 ='Aceman'

print('Reversed :',resversed(name2)) #error

print('List :', list(reversed(name2))) #거꾸로 

print('Tuple', tuple(reversed(name2)))  #리스트를 튜플 형으로 바꾸기 

print('set (집합)', set(reversed(names2))) #순서가 x

ModuleNotFoundError: No module named 'reverse'