In [ ]:
#1
nums = [100,200,300,400,500]

In [ ]:
dir(nums)
nums.remove(400)
nums.remove(500)
nums

In [ ]:
#2
l = [200, 100, 300]
#     <pass>
print(l)

In [ ]:
dir(l)
l.insert(2,1000)
l

In [ ]:
#3
l = [100, 200, 300]
print(type(l))

# list

In [ ]:
#4
1)  입력 : a =1,   출력 : class 'int'

2)  입력 : a = 2.22,   출력 : class 'float'

3)  입력 : a = 'p',   출력 : class 'char'

4)  입력 : a = [1, 2, 3],   출력 : class 'list'
        3번

In [ ]:
#5
a = 10
b = 2
for i in range(1, 5, 2):
    a += i

print(a+b)

In [ ]:
#6
PASS

In [ ]:
#7
#PASS

In [ ]:
#8
d = {'height':180,'weight':78,'weight':84,'temparture':36,'eyesight':1}
print(d['weight'])
#78 84

In [ ]:
#9
# 다음 소스 코드를 완성하여 날짜와 시간을 출력하시오.

year = '2019'
month = '04'
day = '26'
hour = '11'
minute = '34'
second = '27'

#     print(year, month, day, )
#     print(hour, minute, second, )
    
#     2019/04/26 11:34:27

In [ ]:
print(year,month,day,sep='/',end=' ')
print(hour,minute,second,sep=":")

In [ ]:
#10
 입력이 5일경우
    *
   ***
  *****
 *******
*********

In [ ]:
a = input()

for i in a:
    print()

In [ ]:
#11

s = 0

for i in range(1,100):
    s = s+i
    
print(s)

In [ ]:
#12

In [4]:
#13

planet =['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']


a =int(input())

print(planet[a-1])

2
금성

In [5]:
#14


num = int(input())

if num%3 ==0:
    print('짝')
else:
    print(num)

6
짝

In [8]:
#15

name = input()
print('안녕하세요. 저는 {}입니다.'.format(name))

서유니
안녕하세요. 저는 서유니입니다.

In [9]:
#16

a=input()

print(a[::-1])

dc
cd

In [10]:
#17

height = int(input())

if height>150:
    print("yes")
else:
    print('no')

164
yes

In [53]:
#18

score = list(map(int,input().split()))
sum(score)

a=0

for i in len(score):
    a +=i
#     b =a/3
    
print(a)

1 3 6

TypeError: 'int' object is not iterable

In [40]:
score[0].__class__

int

In [56]:
#19


ab  = list(map(int,input().split()))

ab[0]**ab[1]

2 3

8

In [58]:
#20

dummy = list(map(int,input().split()))

print(dummy[0]//dummy[1],dummy[0]%dummy[1])

10 3
3 1